@use '../../styles/variables' as var;

.primary-button {
    display: flex;
    align-items: center;
    justify-content: center;

    &>button {
        background-color: var.$primary-purple;
        color: #ffffff;
        border-radius: var.$border-rad-2;
        padding: 1.25rem;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.6rem;
        text-align: center;
    }
}