a,
button {
    font-family: inherit;
    color: inherit;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

a {
    text-decoration: none;
}

ul li,
ol li {
    list-style-type: none;
}