$primary-purple: #6D5BD0;
$primary-background-color: #F2F0F9;
$primary-white: #FFFFFF;
$background-stripe-color: #F4F2FF;
$background-active-text-color: #E6E6F2;
$green-light-color: #CDFFCD;
$green-dark-color: #007F00;
$purple-variant-color-1: #4A4AFF;
$inactive-text-color: #6E6893;
$unpaid-text-color: #965E00;
$unpaid-background-color: #965E00;
$primary-font-color: #25213B;
$primary-text-red-color: #D30000;
$background-color-warning: #FFE0E0;
$line-stroke-light: #C6C2DE;