$primary-purple: #6d5bd0;
$primary-background-color: #f2f0f9;
$primary-white: #ffffff;
$background-stripe-color: #f4f2ff;
$background-active-text-color: #e6e6f2;
$green-light-color: #cdffcd;
$green-dark-color: #007f00;
$purple-variant-color-1: #4a4aff;
$inactive-text-color: #6e6893;
$unpaid-text-color: #965e00;
$unpaid-background-color: #965e00;
$primary-font-color: #25213b;
$primary-text-red-color: #d30000;
$background-color-warning: #ffe0e0;
$line-stroke-light: #c6c2de;
$primary-box-shadow: 0 0 5px 0 rgba(#000000, 20%);
$border-rad-1: 6px;
$border-rad-2: 8px;
